<button class="addButton" (click)="showAddDialog()" *ngIf="isFanzoneAdmin()">
  add new item
</button>

<p-dialog header="Add item" [(visible)]="displayAdd">
  <form #offerForm="ngForm" (ngSubmit)="addItem(offerForm)">
  <p>Name:</p>
  <input type="text" name="name" [(ngModel)]="name">
  <p>Description:</p>
  <input type="text" name="description" [(ngModel)]="description">

  <br>
  <br>
  <button type="submit" >
    add
  </button>

  </form>
</p-dialog>


<p-dialog header="Buy item" [(visible)]="displayBuy">
  <form #offerForm="ngForm" >
    <p>Reserve item:</p>

    <p-dropdown ></p-dropdown>
    <br>
    <br>
    <button type="submit" >
      buy
    </button>

  </form>
</p-dialog>


<p-dialog header="Edit item" [(visible)]="displayEdit">

  <p>Name:</p>

  <input type="text" >
  <p>Description:</p>

  <input type="text">


  <br>
  <br>
  <button>
    save
  </button>

</p-dialog>


<p-dataList [value]="newOffers" [paginator]="true" [rows]="5" class="lista">

  <p-header>
    List of items
  </p-header>
  <ng-template let-newOffer pTemplate="item">
    <div class="ui-g ui-fluid car-item">
      <div class="ui-g-12 ui-md-3" style="text-align:center">
        <img src="../../assets/defaultImage.jpg">
      </div>
      <div class="ui-g-12 ui-md-9 car-details">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">Name: </div>
          <div class="ui-g-10 ui-sm-6">{{newOffer.name}}</div>

          <div class="ui-g-2 ui-sm-6">Description: </div>
          <div class="ui-g-10 ui-sm-6">{{newOffer.description}}</div>

          <div class="ui-g-2 ui-sm-6">Date: </div>
          <div class="ui-g-10 ui-sm-6">{{newOffer.date}}</div>



          <button (click)="showEditDialog(newOffer)" *ngIf="isFanzoneAdmin()" >
            Edit
          </button>



          <button (click)="deleteItem(newOffer.id)" *ngIf="isFanzoneAdmin()">
            Delete
          </button>

          <button  (click)="showBuyDialog()" *ngIf="isGuest(newOffer.customer_id)">
            Buy
          </button>


        </div>
      </div>
    </div>
    <hr>
  </ng-template>



</p-dataList>






