<div class="wrap">
  <form name="registerForm" #registerForm="ngForm" (ngSubmit)="register()">
    <h3>Email:</h3>
    <input type="email" name="email" class="userInputs" [(ngModel)]="user.email" required>

    <h3>Password:</h3>
    <input type="password" name="password" class="userInputs" [(ngModel)]="user.password" required>

    <h3>Repeat password:</h3>
    <input type="password" name="password2" class="userInputs" [(ngModel)]="firstPass" required>

    <h3>First name:</h3>
    <input type="text" name="firstName" class="userInputs" [(ngModel)]="user.ime" required><br>

    <h3>Last name:</h3>
    <input type="text" name="lastName" class="userInputs" [(ngModel)]="user.prezime" required><br>

    <h3>City:</h3>
    <input type="text" name="city" class="userInputs" [(ngModel)]="user.grad"><br>

    <h3>Phone number:</h3>
    <input type="tel" name="phoneNumber" class="userInputs" [(ngModel)]="user.brTelefona"><br>

    <button type="submit" class="btn btn-primary" style="margin-top: 2%"
           [disabled]="(!registerForm.form.valid && user.password != firstPass)">

      Register
    </button>

  </form>
</div>
