.wrap{
  margin-left: 40%;
  padding-top: 5%;
}
h3{
  color: cadetblue;
}
.userInputs{
  border-radius: 10px;
  width: 300px;
}
.registerButton{
  margin-top: 4%;

}

.button {
  background-color: cadetblue; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
