<div id="welcome" *ngIf="loggedUser === null">
  <p>
    Welcome to our website!
  </p>
</div>

<div *ngIf="loggedUser != null" id="div_profile">
  <form name="registerForm" #registerForm="ngForm" (ngSubmit)="save()">
    <h3>Email:</h3>
    <input type="text" *ngIf="editMode" name="email" [(ngModel)]="loggedUser.email">
    <p *ngIf="!editMode"> {{loggedUser.email}}</p>

    <h3>Password:</h3>
    <input type="text" *ngIf="editMode" name="password" [(ngModel)]="loggedUser.password">
    <p *ngIf="!editMode">{{loggedUser.password}}</p>

    <h3>First name:</h3>
    <input type="text" *ngIf="editMode" name="ime" [(ngModel)]="loggedUser.ime">
    <p *ngIf="!editMode">{{loggedUser.ime}}</p>

    <h3>Last name:</h3>
    <input type="text" *ngIf="editMode" name="prezime" [(ngModel)]="loggedUser.prezime">
    <p *ngIf="!editMode">{{loggedUser.prezime}}</p>

    <h3>City:</h3>
    <input type="text" *ngIf="editMode" name="grad" [(ngModel)]="loggedUser.grad">
    <p *ngIf="!editMode">{{loggedUser.grad}}</p>

    <h3>Phone number:</h3>
    <input type="text" *ngIf="editMode" name="brTelefona" [(ngModel)]="loggedUser.brTelefona">
    <p *ngIf="!editMode">{{loggedUser.brTelefona}}</p>

    <button *ngIf="!editMode" (click)="edit()" class="button" style="margin-top: 2%">
      Edit
    </button>

    <button *ngIf="editMode" type="button" (click)="back()" class="button" style="margin-top: 2%">
      Back
    </button>

    <button *ngIf="editMode" type="submit" class="button" style="margin-top: 2%">
      Save
    </button>

  </form>
</div>

<div *ngIf="loggedUser != null && loggedUser.uloga === 'GUEST'" id="div_friends">
  <p *ngFor="let f of loggedUser.friendList" >{{f.id + " " + f.user_one.ime + " " + f.user_one.prezime}} <a id="{{f.id}}" (click)="delete(f)">X</a></p>
</div>
