#welcome{
  font-size: 150px;
  color: cadetblue;
}
div{
  position: absolute;
  top: 10%;
  left: 10%;
}

#div_profile{
  float:left;
  height:100%;
 }

#div_friends{
  margin-left:50%;
}

.button {
  background-color: cadetblue; /* Green */
  border: none;
  color: white;
  padding: 2px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.p {
  color: cadetblue;
}

.pP{
  font-size: 20px;
  color: cadetblue;
}
