<p-dataList [value]="bids" [paginator]="true" [rows]="5" class="lista">

  <p-header>
    List of bids
  </p-header>
  <ng-template let-bid pTemplate="item">
    <div class="ui-g ui-fluid car-item">

      <div class="ui-g-12 ui-md-9 car-details">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">User: </div>
          <div class="ui-g-10 ui-sm-6">{{bid.user.ime}}</div>

          <div class="ui-g-2 ui-sm-6">Bid: </div>
          <div class="ui-g-10 ui-sm-6">{{bid.bid}}</div>

          <button (click)="accept(bid)">accept</button>





        </div>
      </div>
    </div>
    <hr>
  </ng-template>
</p-dataList>
