<button class="addButton" (click)="showAddDialog()" *ngIf="isGuest()">
  add used item
</button>

<p-dialog header="Add item" [(visible)]="displayAdd">
  <form #offerForm="ngForm" (ngSubmit)="addUsedItem(offerForm)">
    <p>Name:</p>
    <input type="text" name="name" [(ngModel)]="name">
    <p>Description:</p>
    <input type="text" name="description" [(ngModel)]="description">

    <p>Date:</p>
    <p-calendar [(ngModel)]="date" name="date" [inline]="true"></p-calendar>

    <br>
    <br>
    <button type="submit" >
      add
    </button>

  </form>

</p-dialog>


<p-dialog header="Edit item" [(visible)]="displayEdit">
  <form #offerFormEdit="ngForm" (ngSubmit)="updateUsedItem()">
    <p>Name:</p>
    <input type="text"  [(ngModel)] ="usedOfferEdit.name" [ngModelOptions]="{standalone: true}">
    <p>Description:</p>

    <input type="text" [(ngModel)] ="usedOfferEdit.description" [ngModelOptions]="{standalone: true}">
    <p>Date:</p>
    <input type="text" [(ngModel)] ="usedOfferEdit.date" [ngModelOptions]="{standalone: true}">
    <br>
    <br>
    <button type="submit" (click)="showEdit()">
      save
    </button>
  </form>
</p-dialog>





<p-dialog header="Buy item" [(visible)]="displayBuy">
  <form #bidForm="ngForm" (ngSubmit)="addBid(bidForm)">
  <p>Enter bid:</p>
  <input type="text" name="bid" [(ngModel)]="bid">

  <br>
  <br>
  <button type="submit">
    buy
  </button>
  </form>
</p-dialog>



<p-dataList [value]="usedOffers" [paginator]="true" [rows]="5" class="lista">

  <p-header>
    List of items
  </p-header>
  <ng-template let-usedOffer pTemplate="item">
    <div class="ui-g ui-fluid car-item">
      <div class="ui-g-12 ui-md-3" style="text-align:center">
        <img src="../../assets/defaultImage.jpg">
      </div>
      <div class="ui-g-12 ui-md-9 car-details">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">Name: </div>
          <div class="ui-g-10 ui-sm-6">{{usedOffer.name}}</div>

          <div class="ui-g-2 ui-sm-6">Description: </div>
          <div class="ui-g-10 ui-sm-6">{{usedOffer.description}}</div>

          <div class="ui-g-2 ui-sm-6">Date: </div>
          <div class="ui-g-10 ui-sm-6">{{usedOffer.date}}</div>



          <button (click)="showEditDialog(usedOffer)" *ngIf="isLoggedUser(usedOffer)">
            Edit
          </button>



          <button (click)="deleteUsedItem(usedOffer.id)" *ngIf="isFanzoneAdminOrLoggedUser(usedOffer)">
            Delete
          </button>

          <button *ngIf="isOtherGuest(usedOffer)" (click)="showBuyDialog(usedOffer)">
            Buy
          </button>


          <button (click)="displayBidsFunction()" *ngIf="showButtonBids(usedOffer)">
            Show bids
          </button>


        </div>

        <app-bidding-component [usedOffer]="usedOffer" *ngIf="isLoggedUser(usedOffer)">

        </app-bidding-component>

    </div>
    <hr>
    </div>
  </ng-template>
</p-dataList>




