<button class="addButton" (click)="showAddDialog()" *ngIf="isGuest()">
  add used item
</button>

<p-dialog header="Add item" [(visible)]="displayAdd">
  <form #offerForm="ngForm" (ngSubmit)="addUsedItem(offerForm)">
    <p>Name:</p>
    <input type="text" name="name" [(ngModel)]="name">
    <p>Description:</p>
    <input type="text" name="description" [(ngModel)]="description">

    <p>Date:</p>
    <p-calendar [(ngModel)]="date" name="date" [inline]="true"></p-calendar>




    <br>
    <br>
    <button type="submit" >
      add
    </button>

  </form>

</p-dialog>


<p-dialog header="Edit item" [(visible)]="displayEdit">
  <p>Name:</p>
  <input type="text">
  <p>Description:</p>

  <input type="text">
  <p>Date:</p>
  <input type="date">
  <br>
  <br>
  <button>
    save
  </button>
</p-dialog>


<p-dataList [value]="usedOffers" [paginator]="true" [rows]="5" class="lista">

  <p-header>
    List of items
  </p-header>
  <ng-template let-usedOffer pTemplate="item">
    <div class="ui-g ui-fluid car-item">
      <div class="ui-g-12 ui-md-3" style="text-align:center">
        <img src="../../assets/defaultImage.jpg">
      </div>
      <div class="ui-g-12 ui-md-9 car-details">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">Name: </div>
          <div class="ui-g-10 ui-sm-6">{{usedOffer.name}}</div>

          <div class="ui-g-2 ui-sm-6">Description: </div>
          <div class="ui-g-10 ui-sm-6">{{usedOffer.description}}</div>

          <div class="ui-g-2 ui-sm-6">Date: </div>
          <div class="ui-g-10 ui-sm-6">{{usedOffer.date}}</div>



          <button (click)="showEditDialog()" *ngIf="isLoggedUser(usedOffer)">
            Edit
          </button>



          <button (click)="deleteUsedItem(usedOffer.id)" *ngIf="isFanzoneAdminOrLoggedUser(usedOffer)">
            Delete
          </button>

          <button *ngIf="isOtherGuest(usedOffer)">
            Buy
          </button>


        </div>
      </div>
    </div>
    <hr>
  </ng-template>
</p-dataList>




