<button class="addButton" (click)="showDialog()">
  add new movie
</button>

<p-dialog header="Add item" [(visible)]="displayAdd">
  <form #offerForm="ngForm" (ngSubmit)="addMovie(offerForm)">
  <p>Name:</p>
  <input type="text" name="name" [(ngModel)]="name">
  <p>Description:</p>
  <input type="text" name="description" [(ngModel)]="description">
  <p>Director:</p>
  <input type="text" name="director" [(ngModel)]="director">
  <p>Duration:</p>
  <input type="duration" name="duration" [(ngModel)]="duration">



  <br>
  <br>
  <button type="submit" (click)="showDialog()" >
    add
  </button>

  </form>
</p-dialog>
<p-dataGrid [value]="artOfWorks" [paginator]="true" [rows]="9">
    <ng-template let-artOfWork pTemplate="item">
        <div class="ui-g-12 ui-md-3">
          <a [routerLink]="artOfWork.name">{{artOfWork?.name}}</a>
          <p>{{artOfWork?.director}}</p>
          <p>{{artOfWork?.description}}</p>
        </div>
    </ng-template>
</p-dataGrid>
