
<div class = "header" >
   <a routerLink="log-in-form-component" *ngIf="loggedUser === null">
  <div class = "buttons" id="log">
      Log in
  </div>
   </a>

  <a routerLink="register-form-component" *ngIf="loggedUser === null">
  <div class = "buttons" id="reg" >
    Register
  </div>
  </a>

  <a routerLink="home" *ngIf="loggedUser !== null">
    <div class = "buttons" id="logout" >
      Logout
    </div>
  </a>

  <a routerLink="home">
  <div class = "buttons" id="home" >
    Home
  </div>
  </a>
  <a routerLink="cinema-theater-component">
  <div class = "buttons" id="cinema" >
    Cinema
  </div>
  </a>
  <a routerLink="cinema-theater-component">
  <div class = "buttons" id="theater" >
    Theater
  </div>
  </a>

  <a routerLink="fan-zone-component" >
    <div class = "buttons" id="fanZone" >
      Fan zone
    </div>
  </a>


</div>
