<div class="wrapper">
  <div class="header">

    <a [routerLink]="['new-offer-wrapper']">
    <div class="buttons" >

      Items from cinema/theaters

    </div>
    </a>

    <a [routerLink]="['used-offer-wrapper']">
    <div class="buttons" >
      Items from users
    </div>
    </a>

    <a [routerLink]="['admin-fan-zone-notify-wrapper']" *ngIf="isFanzoneAdmin()">
      <div class="buttons" id="notify" >
        notification
      </div>
    </a>

  </div>
  <div class="main">
    <router-outlet></router-outlet>

  </div>

</div>
